* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  height: auto;
}
.container {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #444;
}
.layersContainer,
.propertiesContainer {
  width: 20%;
  height: 90vh;
  overflow-y: auto;
}
.canvasContainer {
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.canvas > * {
  position: absolute;
}
.canvas {
  position: relative;
  overflow: hidden;
}
.defaultLayer {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed !important;
}
canvas {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  background-color: #fff;
}
.layers {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.layers ul {
  width: 90%;
  height: 90%;
  overflow-y: auto;
  margin: 0 0 10px 0;
}
.properties div ul {
  width: 90%;
  height: 90%;
  overflow-y: auto;
  margin: 0 0 10px 0;
}
.layers ul::-webkit-scrollbar,
.propertiesContainer::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

.layers ul::-webkit-scrollbar-thumb,
.propertiesContainer::-webkit-scrollbar-thumb {
  background: #8f8e92;
  border-radius: 10px;
  cursor: pointer;
}

.layers li,
.properties div li {
  margin: 0 5px 10px 5px;
  padding: 15px 0;
  background-color: #2b2b2b;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
}
button.layer {
  width: 90%;
  padding: 15px 0;
  border-radius: 30px;
  cursor: pointer;
  border-color: transparent;
}
ul,
li {
  list-style: none;
}
.properties {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.properties div ul {
  margin: 0 10px 10px 10px;
  padding: 15px 0;
  color: #fff;
  cursor: pointer;
}
.visible {
  display: block;
}
.invisible {
  visibility: hidden;
}
div.toolsContainer {
  position: absolute;
  bottom: 120px;
  z-index: 1;
  left: 200px;
  width: 10%;
  background-color: #2b2b2b;
  color: #fff;
  border-radius: 10px;
}
.toolsContainer div {
  cursor: pointer;
}
.hiddenChild div {
  display: none;
}
.text {
  border: transparent;
  padding: 5px;
}
textarea {
  border-color: transparent;
}
textarea:focus {
  outline-color: #8f8e92;
  outline-width: 1px;
}
.selected {
  background-color: red !important;
}
.textLineProp {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.textLineProp input {
  width: 20%;
  border-color: transparent;
  text-align: center;
  outline: none;
}
.textLineProp button {
  padding: 5px 20px;
  cursor: pointer;
  border-color: transparent;
  background-color: #fff;
  font-size: 16px;
}
.leftMinusButton {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.rightPlusButton {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.textSizeProp input {
  width: 40%;
  padding: 5px 0;
  border-radius: 20px;
  border-color: transparent;
  text-align: center;
  font-size: 15px;
  margin: 5px;
  outline: none;
}
.properties div ul li div ul li {
  padding: 10px;
}
